
.root {
	-fx-background-image: url("/img/background.png");
	-fx-background-size: cover;	
}

.header {
	-fx-font-size: 23pt;
}

.sub-header {
	-fx-font-size: 17pt;
}

Text, Label, TextField, PasswordField, AutoCompleteTextField {
	-fx-fill: #FFFFFF;
	-fx-text-fill: #FFFFFF;
}

TextField, PasswordField, AutoCompleteTextField {
	-fx-background-color: transparent;
	-fx-border-width: 0 0 1pt 0;
	-fx-border-color: #BBBBBB;
	-fx-prompt-text-fill: #BBBBBB;
}

TextField:focused, PasswordField:focused, AutoCompleteTextField:focused {
	-fx-border-color: #FFFFFF;
}

Button {
	-fx-background-color: transparent;
	-fx-border-width: 1pt;
	-fx-border-color: #DFDFDF;
	-fx-text-fill: #DFDFDF;
	-fx-border-radius: 5pt;
}

Button:pressed {
	-fx-text-fill: #FFFFFF;
	-fx-border-color: #FFFFFF;
}

.radio-button{
	-fx-text-fill: #FFFFFF;
}

.radio-button .radio {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-width: 1pt;
	-fx-border-color: #FFFFFF;
	-fx-border-radius: 50%;
}

.radio-button .dot {
  -fx-mark-highlight-color: transparent;
  -fx-mark-color: #FFFFFF;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view TextField {
	-fx-border-width: 0;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #FFFFFF;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #DFDFDF;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0; 
}

.table-row-cell:odd {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
}

.table-row-cell:selected {
    -fx-background-color: #333333;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .column-header-background .filler {
  -fx-background-color: none;
}

.tab-header-background, .tab {
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.85;
    -fx-padding: 10pt;
}

.tab {
	-fx-padding: 5pt 10pt 7pt 10pt;
	-fx-background-color: transparent;
	-fx-border-width: 0 0 3pt 0;
	-fx-border-color: transparent;
}

.tab Label{
	-fx-text-fill: #124558;
}

.tab:selected {
	-fx-border-color: #124558;
}

.tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
	-fx-background-color:transparent;
}

.increment-button , .decrement-button {
	-fx-opacity: 0;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
	-fx-background-color: none;
	-fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 2em;
	-fx-background-color: #FFFFFF;
	-fx-opacity: 0.3;
}

.scroll-bar:horizontal:hover .track, .scroll-bar:horizontal:pressed .track,
.scroll-bar:vertical:hover .track, .scroll-bar:vertical:pressed .track{
	-fx-background-radius: 0em;
}

.scroll-bar .thumb:hover, .scroll-bar .thumb:pressed {
	-fx-background-color: #FFFFFF;
	-fx-opacity: 0.5;
}
